* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
}

.bg_color {
  background: #090128;
}
.text_decoration {
  -webkit-text-stroke: 1px #ba5ea7;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.bg_card {
  background-image: url(./assets/img/png/ladies.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.lorem_btn {
  background: #020826;
  border: 1px solid #020922;
  padding: 3px 15px;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion {
  background: transparent !important;
  border: none !important;
  /* -bs-accordion-btn-bg: var(--bs-accordion-bg); */
}
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: transparent !important;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}
.accordion-button:not(.collapsed) {
  color: #fff !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.bg_transparent {
  background-color: transparent !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(./assets/img/png/Vector.png) !important;
  transform: var(--bs-accordion-btn-icon-transform);
}
.accordion-button::after {
  background-image: url(./assets/img/png/Vector.png) !important;
}
.accordion-button:not(.collapsed) {
  /* color: var(--bs-accordion-active-color); */
  /* background-color: var(--bs-accordion-active-bg); */
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
.accordion-item {
  background-color: transparent !important;
  border: 1px solid #1e8cd6 !important;
  border-radius: 8px;
}

.footer_bg {
  background-image: url(./assets//img/png/footer_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #090128;
  z-index: 3;
  background-blend-mode: color-dodge;
}
.vh_60 {
  min-height: 80vh;
}
.box {
  border: 1.3px solid #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.8s ease-in-out;
}
.box:hover {
  border: 1.3px solid #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ffffff;
}
.box:hover svg path {
  fill: #090128;
}

.img_animation {
  animation: scrol 3s linear infinite;
}
@keyframes scrol {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translate(40px);
  }
  100% {
    transform: translateX(0px);
  }
}
.mw_400 {
  max-width: 400px;
}
.mw_250 {
  max-width: 250px;
}
.img_up_dawn {
  animation: up_dawn 4s ease-in-out infinite;
}
@keyframes up_dawn {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 80px;
  }
  100% {
    margin-bottom: 0;
  }
}
.white_roadmap::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 2.5%;
  background-color: #ffffff;
  height: 105%;
  width: 5px;
}
.dots::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: 0;
  left: 0%;
  z-index: 1;
  transform: translateX(-20%);
}

@media (max-width: 576px) {
  .lorem_decoration {
    position: absolute;
    bottom: 15px;
    left: 25%;
  }
  .img_ladies {
    position: absolute;
    top: 10%;
    left: 25%;
  }
}
@media (min-width: 576px) {
  .lorem_decoration {
    position: absolute;
    bottom: 15px;
    left: 37%;
  }
  .img_ladies {
    position: absolute;
    top: 10%;
    left: 27%;
  }
  .mw_150_sm {
    max-width: 150px;
  }
  .phase1_text {
    position: absolute;
    top: -3%;
    left: 38%;
  }
  .phase2_text {
    position: absolute;
    top: 20%;
    right: 39%;
  }
  .phase3_text {
    position: absolute;
    top: 43%;
    right: 12%;
  }
  .phase4_text {
    position: absolute;
    top: 63%;
    right: 38%;
  }
  .phase5_text {
    position: absolute;
    bottom: -2%;
    right: -5%;
  }
  .phase1_img {
    position: absolute;
    top: -2%;
    left: -3%;
  }
  .phase2_img {
    position: absolute;
    top: 22%;
    right: -2%;
  }
  .phase3_img {
    position: absolute;
    top: 45%;
    left: -2%;
  }
  .phase4_img {
    position: absolute;
    top: 65%;
    right: -2%;
  }
  .phase5_img {
    position: absolute;
    bottom: -1%;
    left: 25%;
  }
  .animation1 {
    animation: scrooll 4s linear infinite;
  }
  @keyframes scrooll {
    0% {
      margin-bottom: 0;
    }
    50% {
      margin-left: 50px;
      margin-bottom: 50px;
    }
    100% {
      margin-bottom: 0;
    }
  }
}
@media (min-width: 768px) {
  .lorem_decoration {
    position: absolute;
    bottom: 15px;
    left: 32%;
  }
  .img_ladies {
    position: absolute;
    top: 10%;
    left: 15%;
  }
  .phase1_img {
    position: absolute;
    top: -1%;
    left: -4%;
  }
  .phase2_img {
    position: absolute;
    top: 22%;
    right: -2%;
  }
  .phase3_img {
    position: absolute;
    top: 45%;
    left: -3%;
  }
  .phase4_img {
    position: absolute;
    top: 65%;
    right: -2%;
  }
  .phase5_img {
    position: absolute;
    bottom: -1%;
    left: 29%;
  }
  .phase1_text {
    position: absolute;
    top: 0;
    left: 33%;
  }
  .phase2_text {
    position: absolute;
    top: 23%;
    right: 40%;
  }
  .phase3_text {
    position: absolute;
    top: 45%;
    right: 30%;
  }
  .phase4_text {
    position: absolute;
    top: 66%;
    right: 38%;
  }
  .phase5_text {
    position: absolute;
    bottom: 0%;
    right: 0%;
  }
  .mw_150_sm {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .lorem_decoration {
    position: absolute;
    bottom: 15px;
    left: 24%;
  }
  .img_ladies {
    position: absolute;
    top: 10%;
    left: 11%;
  }
  .w_lg_none {
    max-width: 780px !important;
  }
  .phase1_img {
    position: absolute;
    top: -1%;
    left: 5%;
  }
  .phase2_img {
    position: absolute;
    top: 22%;
    right: 5%;
  }
  .phase3_img {
    position: absolute;
    top: 45%;
    left: 5%;
  }
  .phase4_img {
    position: absolute;
    top: 65%;
    right: 5%;
  }
  .phase5_img {
    position: absolute;
    bottom: -1%;
    left: 33%;
  }
  .phase1_text {
    position: absolute;
    top: 0;
    left: 38%;
  }
  .phase2_text {
    position: absolute;
    top: 23%;
    right: 40%;
  }
  .phase3_text {
    position: absolute;
    top: 45%;
    right: 40%;
  }
  .phase4_text {
    position: absolute;
    top: 66%;
    right: 38%;
  }
  .phase5_text {
    position: absolute;
    bottom: 0%;
    right: 14%;
  }
  .mw_180 {
    max-width: 150px;
  }
  .aeroplane1_img {
    position: absolute;
    top: 0;
    right: 0%;
  }
  .aeroplane2_img {
    position: absolute;
    bottom: 10%;
    left: 3%;
  }
  .img1 {
    position: absolute;
    top: 30%;
    left: 0%;
  }
  .sdfdse_img {
    position: absolute;
    right: 0%;
    bottom: 35%;
  }
  .aeroplane2_animation {
    animation: flew1 4s linear infinite;
  }
  @keyframes flew1 {
    50% {
      transform: translate(-30px, 100px);
    }
  }
  .aeroplane1_animation {
    animation: flew 4s linear infinite;
  }
  @keyframes flew {
    50% {
      transform: translate(10px, 100px);
    }
  }
  .img_animation {
    animation: scrol 3s linear infinite;
  }
  @keyframes scrol {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-30px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  .img2_animation {
    animation: scrol 3s linear infinite;
  }
  @keyframes scrol {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
@media (min-width: 1200px) {
  .lorem_decoration {
    position: absolute;
    bottom: 15px;
    left: 30%;
  }
  .img_ladies {
    position: absolute;
    top: 10%;
    left: 14%;
  }
  .phase1_img {
    position: absolute;
    top: -1%;
    left: 12%;
  }
  .phase2_img {
    position: absolute;
    top: 22%;
    right: 13%;
  }
  .phase3_img {
    position: absolute;
    top: 45%;
    left: 13%;
  }
  .phase4_img {
    position: absolute;
    top: 65%;
    right: 13%;
  }
  .phase5_img {
    position: absolute;
    bottom: -1%;
    left: 34%;
  }
  .phase1_text {
    position: absolute;
    top: 0;
    left: 38%;
  }
  .phase2_text {
    position: absolute;
    top: 23%;
    right: 40%;
  }
  .phase3_text {
    position: absolute;
    top: 45%;
    right: 43%;
  }
  .phase4_text {
    position: absolute;
    top: 66%;
    right: 38%;
  }
  .phase5_text {
    position: absolute;
    bottom: 0%;
    right: 23%;
  }
  .mw_180 {
    max-width: 100%;
  }
  .aeroplane1_img {
    position: absolute;
    top: 0;
    right: 8%;
  }
  .aeroplane2_img {
    position: absolute;
    bottom: 0%;
    left: 3%;
  }
  .img1 {
    position: absolute;
    top: 25%;
    left: 0%;
  }
  .sdfdse_img {
    position: absolute;
    right: 2%;
    bottom: 30%;
  }
  .mw_200_xl {
    max-width: 175px;
  }
  .aeroplane1_animation {
    animation: flew 4s linear infinite;
  }
  @keyframes flew {
    50% {
      transform: translate(40px, 100px);
    }
  }
  .img_animation {
    animation: scrol 3s linear infinite;
  }
  @keyframes scrol {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-40px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  .img2_animation {
    animation: scrol 4s linear infinite;
  }
  @keyframes scrol {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(40px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  .mw_200 {
    max-width: 200px;
  }
}
@media (min-width: 1400px) {
  .lorem_decoration {
    position: absolute;
    bottom: 15px;
    left: 25%;
  }
  .img_ladies {
    position: absolute;
    top: 10%;
    left: 12%;
  }
  .phase1_img {
    position: absolute;
    top: -1%;
    left: 17%;
  }
  .phase2_img {
    position: absolute;
    top: 22%;
    right: 18%;
  }
  .phase3_img {
    position: absolute;
    top: 45%;
    left: 17%;
  }
  .phase4_img {
    position: absolute;
    top: 65%;
    right: 17%;
  }
  .phase5_img {
    position: absolute;
    bottom: -1%;
    left: 37%;
  }
  .phase1_text {
    position: absolute;
    top: 0;
    left: 38%;
  }
  .phase2_text {
    position: absolute;
    top: 23%;
    right: 40%;
  }
  .phase3_text {
    position: absolute;
    top: 45%;
    right: 43%;
  }
  .phase4_text {
    position: absolute;
    top: 66%;
    right: 38%;
  }
  .phase5_text {
    position: absolute;
    bottom: 0%;
    right: 23%;
  }
  .aeroplane1_img {
    position: absolute;
    top: 0;
    right: 10%;
  }
  .aeroplane2_img {
    position: absolute;
    bottom: 0%;
    left: 2%;
  }
  .img1 {
    position: absolute;
    top: 25%;
    left: 0%;
  }
  .sdfdse_img {
    position: absolute;
    right: 2%;
    bottom: 33%;
  }
  .mw_200_xl {
    max-width: 100%;
  }
  .aeroplane2_animation {
    animation: flew1 4s linear infinite;
  }
  @keyframes flew1 {
    50% {
      transform: translate(-40px, 100px);
    }
  }
  .aeroplane1_animation {
    animation: flew 4s linear infinite;
  }
  @keyframes flew {
    50% {
      transform: translate(40px, 100px);
    }
  }
}
